@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Playball&display=swap');
* {
    box-sizing: border-box;
}

.root {
    font-family: 'Recursive';
    background-color: #FFFFFF;
    width: 375px;
    height: 100vh;
}